#memory-cards {
  margin:0 auto;
  padding:0;
  height:100%;
  list-style-type: none;
  list-style-image: none;
  position:relative;
}
/* entire container, keeps perspective */
.flip-container {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  float:left;
}

/* flip the pane when clicked */
.flip-container.clicked .front {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.flip-container.clicked .back {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

/* flip speed goes here */
.flipper {
  width:90%;
  height:90%;
  margin:0% auto;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
  top:5%;
  bottom:5%;
}

/* hide back of pane during swap */
.front, .back {
  width:100%;
  height:100%;
  display: block;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  /* for firefox 31 */
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
  background-color: #e12d00;
  border-radius: 5%;
  background-image: url(../images/card.svg);
  background-position:50% 50%;
  background-repeat: no-repeat;
  background-size: contain;

}

/* back, initially hidden pane */
.back {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  background-color: #fff;
  border-radius: 5%;
  background-position:50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.back.card-1 {
  background-image: url(../images/fruits/apple.jpg);
}
.back.card-2 {
  background-image: url(../images/fruits/fig.jpg);
}
.back.card-3 {
  background-image: url(../images/fruits/grape.jpg);
}
.back.card-4 {
  background-image: url(../images/fruits/kiwi.jpg);
}
.back.card-5 {
  background-image: url(../images/fruits/lemon.jpg);
}
.back.card-6 {
  background-image: url(../images/fruits/lime.jpg);
}
.back.card-7 {
  background-image: url(../images/fruits/mango.jpg);
}
.back.card-8 {
  background-image: url(../images/fruits/melon.jpg);
}
.back.card-9 {
  background-image: url(../images/fruits/orange.jpg);
}
.back.card-10 {
  background-image: url(../images/fruits/peach.jpg);
}
.back.card-11 {
  background-image: url(../images/fruits/pear.jpg);
}
.back.card-12 {
  background-image: url(../images/fruits/pinapple.jpg);
}
.back.card-13 {
  background-image: url(../images/fruits/plum.jpg);
}
.back.card-14 {
  background-image: url(../images/fruits/raspberry.jpg);
}
.back.card-15 {
  background-image: url(../images/fruits/strawberry.jpg);
}
.back.card-16{
  background-image: url(../images/buildings/Building1.png);
}
.back.card-17{
  background-image: url(../images/buildings/Building2.png);
}
.back.card-18{
  background-image: url(../images/buildings/Building3.png);
}
.back.card-19{
  background-image: url(../images/buildings/Building4.png);
}
.back.card-20{
  background-image: url(../images/buildings/Building5.png);
}
.back.card-21{
  background-image: url(../images/buildings/Building6.png);
}
.back.card-22{
  background-image: url(../images/buildings/Building7.png);
}
.back.card-23{
  background-image: url(../images/buildings/Building8.png);
}
.back.card-24{
  background-image: url(../images/buildings/Building9.png);
}
.back.card-25{
  background-image: url(../images/buildings/Building10.png);
}
.back.card-26{
  background-image: url(../images/buildings/Building11.png);
}
.back.card-27{
  background-image: url(../images/buildings/Building12.png);
}
.back.card-28{
  background-image: url(../images/buildings/Building13.png);
}
.back.card-29{
  background-image: url(../images/buildings/Building14.png);
}
.back.card-30{
  background-image: url(../images/buildings/Building15.png);
}
.back.card-31{
  background-image: url(../images/furs/F1.jpg);
}
.back.card-32{
  background-image: url(../images/furs/F2.png);
}
.back.card-33{
  background-image: url(../images/furs/F3.png);
}
.back.card-34{
  background-image: url(../images/furs/F4.png);
}
.back.card-35{
  background-image: url(../images/furs/F5.png);
}
.back.card-36{
  background-image: url(../images/furs/F6.png);
}
.back.card-37{
  background-image: url(../images/furs/F7.png);
}
.back.card-38{
  background-image: url(../images/furs/F8.png);
}
.back.card-39{
  background-image: url(../images/furs/F9.png);
}
.back.card-40{
  background-image: url(../images/furs/F10.png);
}
.back.card-41{
  background-image: url(../images/furs/F11.png);
}
.back.card-42{
  background-image: url(../images/furs/F12.png);
}
.back.card-43{
  background-image: url(../images/furs/F13.png);
}
.back.card-44{
  background-image: url(../images/furs/F14.png);
}
.back.card-45{
  background-image: url(../images/furs/F15.png);
}

.make-gray{
  filter: grayscale(100%);
}

/* Monkey Movement */
.lr_monkey {
	width:100%;
	position:relative;
  animation: move-it-lr 10s infinite;
}
.bt_monkey {
  width:100%;
  left: 0%;
	position:relative;
  animation: move-it-bt 8s infinite;
  animation-delay: 15s;
  background-color: #F15A5C;
  opacity: 0.8;
  filter: blur(1px);
}

.bt_monkey-size{
  width:100px;
  height:100px;
}

.lr_monkey:hover{
animation-play-state: paused;
/* JavaScript syntax: object.style.animationPlayState="paused" */
}
.bt_monkey:hover{
animation-play-state: paused;
}



@keyframes move-it-lr {
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}
@keyframes move-it-bt {
  0% {
    bottom: 10%;
  }
  100% {
    bottom: 91%;
  }
}
/** Matching Cards **/
/**
 * If you wish to have custom matching images, you can do so
 * by leveraging the 'matching' class which is added to one
 * of the matching cards. See the example below.
 *
 * .back.card-1 {
 *   background-image: url(../images/fruits/apple_1.jpg);
 * }
 *
 * .back.matching.card-1 {
 *   background-image: url(../images/fruits/apple_2.jpg);
 * }
 *
 */
